<div class="panel panel-default">
    <div class="panel-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        Antal platser: {{slots}}<br>
        Pris/person: {{price}} kr<br>
        Värd: {{user.firstName}} {{user.lastName}}
    </div>
</div>