<a href="/event/{{id}}">
    <div class="panel panel-default">
        <div class="panel-body" style="background: url({{blob eventImages}}); background-size: 100%;">
            <div class="row">
                <div class="col-xs-6">
                    <img src="https://graph.facebook.com/{{user.externalId}}/picture?type=square" class="img-circle" />
                </div>
                <div class="col-xs-6 text-right">
                    <div class="label label-default">{{slotsAvailable}}/{{slots}} available</div>
                    <br><br>
                    <span class="text-white">{{location.city}}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-6">
                    <strong>{{title}}</strong><br>
                    <span class="text-muted">
                    {{#each categories}}
                        {{name}}
                    {{/each}}
                    </span>
                </div>
                <div class="col-xs-6 text-right">
                    <strong>{{{date start 'lll'}}}</strong><br>
                    <span class="text-muted">{{price}} SEK</span>
                </div>
            </div>
        </div>
    </div>
</a>