<p class="text-muted">
    {{#each categories}}
        <em>{{name}}</em>
    {{/each}}
</p>
<p>{{description}}</p>
<p>
    <img src="//graph.facebook.com/{{user.externalId}}/picture?type=square" class="img-circle" />
    Värd: <a href="/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a> &nbsp;&bull;&nbsp;
    Antal platser: {{slots}} &nbsp;&bull;&nbsp;
    Pris/person: {{price}} kr
</p>

<h2>Gästbetyg</h2>
<div id="event-rating"></div>

<br><br>
<form>
    <button class="btn btn-primary btn-block">Skicka förfrågan</button>
</form>