<p class="text-muted">
    {{#each categories}}
        <em>{{name}}</em>
    {{/each}}
</p>
<p>{{description}}</p>
<p>
    <img src="https://graph.facebook.com/{{user.externalId}}/picture?type=square" class="img-circle" />
    Host: <a href="/user/profile/view/{{user.id}}">{{user.firstName}} {{user.lastName}}</a> &nbsp;&bull;&nbsp;
    Seats: {{slots}} &nbsp;&bull;&nbsp;
    Price: {{price}} SEK
</p>

<h2>Rating</h2>
<div id="event-rating"></div>

{{#if view.canRequest }}
    <br><br>
    <form>
        <button class="btn btn-primary btn-block">Send request</button>
    </form>
{{/if}}