<p class="text-muted">
    {{#each categories}}
        <em>{{name}}</em>
    {{/each}}
</p>
<p>{{description}}</p>
<p>
    Värd: {{user.firstName}} {{user.lastName}} &nbsp;&bull;&nbsp; Antal platser: {{slots}} &nbsp;&bull;&nbsp; Pris/person: {{price}} kr
</p>