<div>
    <h3>{{title}}</h3>
    <form>
        <input type="hidden" name="id" value="{{id}}" />
        <input type="hidden" name="location[id]" value="{{location.id}}" />
        <div class="form-group">
            <input type="text" name="title" class="form-control" value="{{title}}" placeholder="Title" />
        </div>
        <div class="form-group">
            <textarea name="description" class="form-control" rows="4" placeholder="Description">{{description}}</textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="location[address]" value="{{location.address}}" placeholder="Address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="location[city]" value="{{location.city}}" placeholder="City" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="start" value="{{start}}" placeholder="Date/time" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="slots" value="{{slots}}" placeholder="Seats" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="price" value="{{price}}" placeholder="Price" />
        </div>
    </form>
</div>