<div>
    <div class="text-center">
        <img src="https://scontent-ams2-1.xx.fbcdn.net/hprofile-xpt1/v/t1.0-1/p160x160/1513706_10153518601651554_2125033166189649710_n.jpg?oh=bdd57d8f2796d2fdc9adb8197d0f52bc&oe=56ADEF8C" class="img-circle" />
        <br><br>
        <p>
            <i class="fa fa-star rating-filled"></i>
            <i class="fa fa-star rating-filled"></i>
            <i class="fa fa-star rating-filled"></i>
            <i class="fa fa-star rating-filled"></i>
            <i class="fa fa-star rating-empty"></i>
        </p>
        <h3>{{firstName}} {{lastName}}</h3>
        <p>{{email}}</p>
    </div>
    <hr>
    <p>{{description}}</p>
    <hr>
    <em class="small">Medlem sedan {{{date created 'YYYY-MM-DD'}}}</em>
    <br><br>
    <button class="btn btn-block btn-default js-logout">Logga ut</button>
</div>